In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from google.colab import drive
from sklearn.preprocessing import MinMaxScaler 

np.random.seed(0)

In [ ]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
filename = '/content/drive/My Drive/Colab Notebooks/Transformers/Data/SCADA_data_WT2337.csv'
datos=pd.read_csv(filename)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.DataFrame({'date_time': datos['date_time'] ,'TempEjeLento_1': datos['TempEjeLento_1'], 'TempAmbMean': datos['TempAmbMean'], 'TempRodamMultipMean': datos['TempRodamMultipMean'], 'TempCojLAMean': datos['TempCojLAMean'],'TempCojLOAMean': datos['TempCojLOAMean'], 'TempGenMean': datos['TempGenMean'], 'PotMean': datos['PotMean'], 'VelRotorMean': datos['VelRotorMean']})

In [ ]:
cols = df.columns.tolist()
cols

['date_time',
 'TempEjeLento_1',
 'TempAmbMean',
 'TempRodamMultipMean',
 'TempCojLAMean',
 'TempCojLOAMean',
 'TempGenMean',
 'PotMean',
 'VelRotorMean']

## Pre-procesamiento

In [ ]:
#PotMean
df['PotMean'][df['PotMean']< 0] = None
df['PotMean'][df['PotMean']> 2000] = None
#TempAmbMean
df['TempAmbMean'][df['TempAmbMean']< -5] = None
df['TempAmbMean'][df['TempAmbMean']> 40] = None
#TempCojLAMean
df['TempCojLAMean'][df['TempCojLAMean']< 0] = None
df['TempCojLAMean'][df['TempCojLAMean']> 120] = None
#TempCojLOAMean
df['TempCojLOAMean'][df['TempCojLOAMean']< 0] = None
df['TempCojLOAMean'][df['TempCojLOAMean']> 120] = None
#TempEjeLento_1
df['TempEjeLento_1'][df['TempEjeLento_1']< 0] = None
df['TempEjeLento_1'][df['TempEjeLento_1']> 120] = None
#TempGenMean
df['TempGenMean'][df['TempGenMean']< 0] = None
df['TempGenMean'][df['TempGenMean']> 175] = None
#TempRodamMultipMean
df['TempRodamMultipMean'][df['TempRodamMultipMean']< 0] = None
df['TempRodamMultipMean'][df['TempRodamMultipMean']> 120] = None
#VelRotorMean
df['VelRotorMean'][df['VelRotorMean']< 0] = None
df['VelRotorMean'][df['VelRotorMean']> 50] = None

In [ ]:
df['TempAmbMean']=df['TempAmbMean'].interpolate(method='pchip', order=3, limit_area='inside')
df['TempAmbMean']=df['TempAmbMean'].fillna(method='backfill')
df['TempAmbMean']=df['TempAmbMean'].fillna(method='ffill')

df['TempEjeLento_1']=df['TempEjeLento_1'].interpolate(method='pchip', order=3)
df['TempEjeLento_1']=df['TempEjeLento_1'].fillna(method='backfill')

df['TempRodamMultipMean']=df['TempRodamMultipMean'].interpolate(method='pchip', order=3)
df['TempRodamMultipMean']=df['TempRodamMultipMean'].fillna(method='backfill')

df['TempCojLAMean']=df['TempCojLAMean'].interpolate(method='pchip', order=3)
df['TempCojLAMean']=df['TempCojLAMean'].fillna(method='backfill')

df['TempCojLOAMean']=df['TempCojLOAMean'].interpolate(method='pchip', order=3)
df['TempCojLOAMean']=df['TempCojLOAMean'].fillna(method='backfill')

df['TempGenMean']=df['TempGenMean'].interpolate(method='pchip', order=3)
df['TempGenMean']=df['TempGenMean'].fillna(method='backfill')

df['PotMean']=df['PotMean'].interpolate(method='pchip', order=3)
df['PotMean']=df['PotMean'].fillna(method='backfill')

df['VelRotorMean']=df['VelRotorMean'].interpolate(method='pchip', order=3)
df['VelRotorMean']=df['VelRotorMean'].fillna(method='backfill')

df['TempEjeLento_1']=df['TempEjeLento_1'].fillna(method='ffill')
df['TempRodamMultipMean']=df['TempRodamMultipMean'].fillna(method='ffill')
df['TempCojLAMean']=df['TempCojLAMean'].fillna(method='ffill')
df['TempCojLOAMean']=df['TempCojLOAMean'].fillna(method='ffill')
df['TempGenMean']=df['TempGenMean'].fillna(method='ffill')
df['PotMean']=df['PotMean'].fillna(method='ffill')
df['VelRotorMean']=df['VelRotorMean'].fillna(method='ffill')

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
datos_listos=df.copy()

In [ ]:
datos_t=pd.DataFrame({ 'TempEjeLento_1':df['TempEjeLento_1'],'date_time': df['date_time'] ,})
datos_t.drop([0], inplace=True)
datos_t.reset_index(drop=True, inplace=True)
datos_t

        TempEjeLento_1              date_time
0         1.999570e+01  2013-01-01 00:10:00.0
1         1.999570e+01  2013-01-01 00:20:00.0
2         1.999570e+01  2013-01-01 00:30:00.0
3         1.999570e+01  2013-01-01 00:40:00.0
4         1.999570e+01  2013-01-01 00:50:00.0
...                ...                    ...
358128    8.684532e+08  2019-10-28 00:10:00.0
358129    8.685083e+08  2019-10-28 00:20:00.0
358130    8.685633e+08  2019-10-28 00:30:00.0
358131    8.686183e+08  2019-10-28 00:40:00.0
358132    8.686734e+08  2019-10-28 00:50:00.0

[358133 rows x 2 columns]

In [ ]:
datos_tmenos1=pd.DataFrame({'TempEjeLento_1-1': df['TempEjeLento_1'],'TempAmbMean-1': df['TempAmbMean'], 'TempRodamMultipMean-1': df['TempRodamMultipMean'],'TempCojLOAMean-1': df['TempCojLOAMean'], 'TempGenMean-1': df['TempGenMean'], 'PotMean-1': df['PotMean'], 'VelRotorMean-1': df['VelRotorMean']})
datos_tmenos1.drop([len(df['VelRotorMean'])-1], inplace=True)
datos_tmenos1.reset_index(drop=True, inplace=True)
datos_tmenos1

,TempEjeLento_1-1,TempAmbMean-1,TempRodamMultipMean-1,TempCojLOAMean-1,TempGenMean-1,PotMean-1,VelRotorMean-1
0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639
1,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639
2,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639
3,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639
4,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639
...,...,...,...,...,...,...,...
358128,8.683982e+08,18.02380,57.0572,36.1502,50.8232,153.996,11.7559
358129,8.684532e+08,17.96310,58.0939,36.2752,51.2622,190.546,12.1454
358130,8.685083e+08,17.90240,59.1305,36.4003,51.7013,190.080,12.1656
358131,8.685633e+08,17.84170,60.1671,36.5253,52.1404,164.409,11.9320
358132,8.686183e+08,17.78090,61.2038,36.6503,52.5794,171.453,11.9673

In [ ]:
datos_listos=pd.DataFrame({'date_time': datos_t['date_time'], 'TempEjeLento_1-1': datos_tmenos1['TempEjeLento_1-1'],'TempAmbMean-1': datos_tmenos1['TempAmbMean-1'],'TempRodamMultipMean-1': datos_tmenos1['TempRodamMultipMean-1'],'TempCojLOAMean-1': datos_tmenos1['TempCojLOAMean-1'],'TempGenMean-1': datos_tmenos1['TempGenMean-1'], 'PotMean-1': datos_tmenos1['PotMean-1'], 'VelRotorMean-1': datos_tmenos1['VelRotorMean-1'],'TempEjeLento_1': datos_t['TempEjeLento_1']})
datos_listos

,date_time,TempEjeLento_1-1,TempAmbMean-1,TempRodamMultipMean-1,TempCojLOAMean-1,TempGenMean-1,PotMean-1,VelRotorMean-1,TempEjeLento_1
0,2013-01-01 00:10:00.0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639,1.999570e+01
1,2013-01-01 00:20:00.0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639,1.999570e+01
2,2013-01-01 00:30:00.0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639,1.999570e+01
3,2013-01-01 00:40:00.0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639,1.999570e+01
4,2013-01-01 00:50:00.0,1.999570e+01,2.39048,64.1288,18.8788,38.4616,229.510,12.1639,1.999570e+01
...,...,...,...,...,...,...,...,...,...
358128,2019-10-28 00:10:00.0,8.683982e+08,18.02380,57.0572,36.1502,50.8232,153.996,11.7559,8.684532e+08
358129,2019-10-28 00:20:00.0,8.684532e+08,17.96310,58.0939,36.2752,51.2622,190.546,12.1454,8.685083e+08
358130,2019-10-28 00:30:00.0,8.685083e+08,17.90240,59.1305,36.4003,51.7013,190.080,12.1656,8.685633e+08
358131,2019-10-28 00:40:00.0,8.685633e+08,17.84170,60.1671,36.5253,52.1404,164.409,11.9320,8.686183e+08
358132,2019-10-28 00:50:00.0,8.686183e+08,17.78090,61.2038,36.6503,52.5794,171.453,11.9673,8.686734e+08

In [ ]:
from datetime import datetime,timedelta
datos_listos['date_time']=pd.to_datetime(datos_listos['date_time'])

In [ ]:
data_tv=datos_listos.copy()
mask = ((data_tv['date_time'] >= '2017-02-06 00:00:00') & (data_tv['date_time'] < '2018-01-01 00:00:00') ) 
train_tv=data_tv.loc[mask]
train_tv.reset_index(drop=True, inplace=True)

In [ ]:
longitud=len(train_tv)
#longitud=longitud*70/100
longitud=(longitud)/144
longitud=longitud*90/100
longitud=round(longitud)
longitud=longitud*144
longitud

42624

In [ ]:
training=train_tv.loc[0:round(longitud)-1]
training.reset_index(drop=True, inplace=True)
training

,date_time,TempEjeLento_1-1,TempAmbMean-1,TempRodamMultipMean-1,TempCojLOAMean-1,TempGenMean-1,PotMean-1,VelRotorMean-1,TempEjeLento_1
0,2017-02-06 00:00:00,22.879502,7.43394,73.7686,35.0659,82.3580,1502.760,17.7552,22.880098
1,2017-02-06 00:10:00,22.880098,7.39546,73.7262,34.9930,83.0070,1521.620,17.0368,22.880692
2,2017-02-06 00:20:00,22.880692,7.35698,73.6839,34.9201,83.6560,1512.130,17.3090,22.881285
3,2017-02-06 00:30:00,22.881285,7.31849,73.6415,34.8472,84.3050,1488.260,16.8005,22.881875
4,2017-02-06 00:40:00,22.881875,7.28001,73.5991,34.7743,84.9540,1494.730,16.6559,22.882463
...,...,...,...,...,...,...,...,...,...
42619,2017-11-28 23:10:00,22.229200,10.87230,72.8500,29.0079,50.6938,532.308,15.5693,22.365700
42620,2017-11-28 23:20:00,22.365700,10.87490,72.7006,29.0459,51.2225,538.059,15.8019,22.493200
42621,2017-11-28 23:30:00,22.493200,10.87750,72.4397,29.0839,51.7513,655.092,16.6070,22.582200
42622,2017-11-28 23:40:00,22.582200,10.88000,72.1787,29.1219,52.2800,724.791,17.0285,22.666800
42623,2017-11-28 23:50:00,22.666800,10.88260,71.9178,29.1599,52.8088,638.085,16.1602,22.751400

In [ ]:
validation=train_tv.loc[round(longitud):len(train_tv)]
validation.reset_index(drop=True, inplace=True)
validation

,date_time,TempEjeLento_1-1,TempAmbMean-1,TempRodamMultipMean-1,TempCojLOAMean-1,TempGenMean-1,PotMean-1,VelRotorMean-1,TempEjeLento_1
0,2017-11-29 00:00:00,22.7514,10.88510,71.6569,29.1979,53.3376,731.328000,17.103700,22.8360
1,2017-11-29 00:10:00,22.8360,10.88770,71.3959,29.1589,53.8663,743.456000,16.813000,22.9152
2,2017-11-29 00:20:00,22.9152,10.89020,71.1350,29.1927,54.3951,487.361000,15.450100,22.9417
3,2017-11-29 00:30:00,22.9417,10.89280,70.8741,29.2266,54.7146,603.615000,16.145600,22.9549
4,2017-11-29 00:40:00,22.9549,10.89540,70.6131,29.2604,54.8153,551.536000,15.615300,22.9682
...,...,...,...,...,...,...,...,...,...
4747,2017-12-31 23:10:00,20.2618,8.34259,58.4853,31.6632,79.7916,83.266200,2.821730,20.1293
4748,2017-12-31 23:20:00,20.1293,8.27274,56.0265,31.4196,78.4111,0.044976,0.367458,19.8581
4749,2017-12-31 23:30:00,19.8581,8.20288,53.5842,31.1759,77.0307,0.094435,0.481486,19.5864
4750,2017-12-31 23:40:00,19.5864,8.13303,51.1418,30.9322,75.6502,0.143894,0.275624,19.3147
4751,2017-12-31 23:50:00,19.3147,8.06317,48.6994,30.6886,74.2697,0.193353,0.414054,19.0430

In [ ]:
test=datos_listos.copy()
mask = ((test['date_time'] >= '2018-01-01 00:00:00') & (test['date_time'] < '2018-12-01 00:00:00')) 
test=test.loc[mask]
test.reset_index(drop=True, inplace=True)
test

,date_time,TempEjeLento_1-1,TempAmbMean-1,TempRodamMultipMean-1,TempCojLOAMean-1,TempGenMean-1,PotMean-1,VelRotorMean-1,TempEjeLento_1
0,2018-01-01 00:00:00,19.0430,7.99331,46.8007,30.4449,72.8892,0.242812,0.231295,18.7970
1,2018-01-01 00:10:00,18.7970,7.92346,46.2656,30.2012,71.5087,0.292271,0.332392,18.6419
2,2018-01-01 00:20:00,18.6419,7.85360,45.7959,29.9576,70.1282,0.341730,0.379906,18.4947
3,2018-01-01 00:30:00,18.4947,7.78375,45.3262,29.7139,68.7477,0.391189,0.000000,18.3476
4,2018-01-01 00:40:00,18.3476,7.71389,44.8565,29.4703,67.3672,0.440648,0.000000,18.2004
...,...,...,...,...,...,...,...,...,...
48091,2018-11-30 23:10:00,18.4543,6.04839,52.5553,23.4519,42.6439,59.172800,11.642600,18.4170
48092,2018-11-30 23:20:00,18.4170,5.99709,52.3561,23.4182,42.6022,73.653900,11.672200,18.3798
48093,2018-11-30 23:30:00,18.3798,5.94744,52.1570,23.3844,42.5605,62.996200,11.703200,18.3346
48094,2018-11-30 23:40:00,18.3346,5.92394,51.9578,23.3507,42.5188,45.085900,11.694900,18.2666
48095,2018-11-30 23:50:00,18.2666,5.90944,51.7586,23.3169,42.4771,48.403300,11.683900,18.1971

In [ ]:
from numpy import array
from numpy import hstack

def datosstack(data):
    
        X1 = array(data['TempAmbMean-1'])
        X2 = array(data['TempRodamMultipMean-1'])
        #X3 = array(data['TempCojLAMean-1'])
        X3 = array(data['TempCojLOAMean-1'])
        X4 = array(data['TempGenMean-1'])
        X5 = array(data['PotMean-1'])
        X6 = array(data['VelRotorMean-1'])
        X7 = array(data['TempEjeLento_1-1'])
        X8 = array(data['TempEjeLento_1'])

        X1 = X1.reshape((len(X1), 1))
        X2 = X2.reshape((len(X2), 1))
        X3 = X3.reshape((len(X3), 1))
        X4 = X4.reshape((len(X4), 1))
        X5 = X5.reshape((len(X5), 1))
        X6 = X6.reshape((len(X6), 1))
        X7 = X7.reshape((len(X7), 1))
        X8 = X8.reshape((len(X8), 1))
        #X9 = X8.reshape((len(X9), 1))
        
        dataset = hstack((X1, X2, X3, X4, X5, X6, X7, X8))            

        return dataset

In [ ]:
dataset_train=datosstack(training)
dataset_validation=datosstack(validation)
dataset_test=datosstack(test)

dataset_train.shape

(42624, 8)

In [ ]:
def split_sequences(sequences, n_steps):
	X, y = list(), list()
	for i in range(len(sequences)):
		# find the end of this pattern
		#end_ix = n_steps*i + n_steps
		end_ix = i + n_steps
		#start_ix = end_ix - n_steps
		# check if we are beyond the dataset
		if end_ix > len(sequences):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

Datos de Entrenamiento

In [ ]:
n_steps = 144
xtrain, ytrain = split_sequences(dataset_train, n_steps)
print(xtrain.shape, ytrain.shape)

(42481, 144, 7) (42481,)

Datos de Validación

In [ ]:
xvalidation, yvalidation = split_sequences(dataset_validation, n_steps)
print(xvalidation.shape, yvalidation.shape)

(4609, 144, 7) (4609,)

Datos de prueba

In [ ]:
xtest, ytest = split_sequences(dataset_test, n_steps)
print(xtest.shape, ytest.shape)

(47953, 144, 7) (47953,)

# Creación del Modelo

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
def transformer_encoder(inputs, head_size, num_heads, ff_dim, dropout=0):
    # Normalization and Attention
    x = layers.LayerNormalization(epsilon=1e-6)(inputs)
    x = layers.MultiHeadAttention(
        key_dim=head_size, num_heads=num_heads, dropout=dropout
    )(x, x)
    x = layers.Dropout(dropout)(x)
    res = x + inputs

    # Feed Forward Part
    x = layers.LayerNormalization(epsilon=1e-6)(res)
    x = layers.Conv1D(filters=ff_dim, kernel_size=1, activation="relu")(x)
    x = layers.Dropout(dropout)(x)
    x = layers.Conv1D(filters=inputs.shape[-1], kernel_size=1)(x)
    return x + res

In [ ]:
def build_model(
    input_shape,
    head_size,
    num_heads,
    ff_dim,
    num_transformer_blocks,
    mlp_units,
    dropout=0,
    mlp_dropout=0,
):
    inputs = keras.Input(shape=input_shape)
    x = inputs
    for _ in range(num_transformer_blocks):
        x = transformer_encoder(x, head_size, num_heads, ff_dim, dropout)

    x = layers.GlobalAveragePooling1D(data_format="channels_first")(x)
    for dim in mlp_units:
        x = layers.Dense(dim, activation="relu")(x)
        x = layers.Dropout(mlp_dropout)(x)
    outputs = layers.Dense(1)(x)
    return keras.Model(inputs, outputs)

## Entrenamiento del Modelo

In [ ]:
input_shape = xtrain.shape[1:]

model = build_model(
    input_shape,
    head_size=256,
    num_heads=4,
    ff_dim=4,
    num_transformer_blocks=4,
    mlp_units=[128],
    mlp_dropout=0.4,
    dropout=0.3,
)

model.compile(
    loss="mean_squared_error",
    optimizer=keras.optimizers.Adam(learning_rate=1e-3)
)
#model.summary()

#callbacks = [keras.callbacks.EarlyStopping(patience=10, \restore_best_weights=True)]

history = model.fit(
    xtrain,
    ytrain,
    validation_split=0.2,
    epochs=100,
    batch_size=64
    #callbacks=callbacks,
)

model.evaluate(xvalidation, yvalidation, verbose=1)

Epoch 1/100
531/531 [==============================] - 57s 97ms/step - loss: 502.2782 - val_loss: 17.2812
Epoch 2/100
531/531 [==============================] - 50s 95ms/step - loss: 55.4956 - val_loss: 9.6363
Epoch 3/100
531/531 [==============================] - 50s 95ms/step - loss: 43.4004 - val_loss: 4.8468
Epoch 4/100
531/531 [==============================] - 51s 96ms/step - loss: 37.7854 - val_loss: 5.0791
Epoch 5/100
531/531 [==============================] - 50s 95ms/step - loss: 35.9154 - val_loss: 4.4567
Epoch 6/100
531/531 [==============================] - 50s 94ms/step - loss: 34.4783 - val_loss: 4.4720
Epoch 7/100
531/531 [==============================] - 50s 95ms/step - loss: 33.0775 - val_loss: 3.4446
Epoch 8/100
531/531 [==============================] - 50s 94ms/step - loss: 32.5160 - val_loss: 3.2160
Epoch 9/100
531/531 [==============================] - 50s 95ms/step - loss: 30.7022 - val_loss: 3.6847
Epoch 10/100
531/531 [==============================] - 50s 95ms/step - loss: 30.4878 - val_loss: 4.0267
Epoch 11/100
531/531 [==============================] - 50s 95ms/step - loss: 29.4771 - val_loss: 4.2612
Epoch 12/100
531/531 [==============================] - 50s 95ms/step - loss: 28.8663 - val_loss: 2.7479
Epoch 13/100
531/531 [==============================] - 50s 94ms/step - loss: 28.0682 - val_loss: 2.1862
Epoch 14/100
531/531 [==============================] - 50s 94ms/step - loss: 26.7540 - val_loss: 3.2656
Epoch 15/100
531/531 [==============================] - 50s 94ms/step - loss: 26.0045 - val_loss: 2.7776
Epoch 16/100
531/531 [==============================] - 50s 94ms/step - loss: 25.2382 - val_loss: 1.5612
Epoch 17/100
531/531 [==============================] - 50s 94ms/step - loss: 24.8131 - val_loss: 2.2062
Epoch 18/100
531/531 [==============================] - 50s 94ms/step - loss: 22.9691 - val_loss: 2.6180
Epoch 19/100
531/531 [==============================] - 50s 94ms/step - loss: 22.5908 - val_loss: 2.3395
Epoch 20/100
531/531 [==============================] - 50s 95ms/step - loss: 20.2019 - val_loss: 1.7515
Epoch 21/100
531/531 [==============================] - 50s 94ms/step - loss: 18.9926 - val_loss: 6.8139
Epoch 22/100
531/531 [==============================] - 50s 94ms/step - loss: 18.2930 - val_loss: 2.8225
Epoch 23/100
531/531 [==============================] - 50s 94ms/step - loss: 16.8782 - val_loss: 2.8096
Epoch 24/100
531/531 [==============================] - 50s 94ms/step - loss: 16.5889 - val_loss: 1.3531
Epoch 25/100
531/531 [==============================] - 50s 94ms/step - loss: 16.2241 - val_loss: 1.9152
Epoch 26/100
531/531 [==============================] - 50s 94ms/step - loss: 14.8762 - val_loss: 2.8123
Epoch 27/100
531/531 [==============================] - 50s 94ms/step - loss: 13.8771 - val_loss: 3.4015
Epoch 28/100
531/531 [==============================] - 50s 94ms/step - loss: 13.8048 - val_loss: 1.3252
Epoch 29/100
531/531 [==============================] - 50s 94ms/step - loss: 12.5016 - val_loss: 1.2365
Epoch 30/100
531/531 [==============================] - 50s 94ms/step - loss: 11.6234 - val_loss: 1.5914
Epoch 31/100
531/531 [==============================] - 50s 94ms/step - loss: 11.8229 - val_loss: 1.0323
Epoch 32/100
531/531 [==============================] - 50s 94ms/step - loss: 11.0179 - val_loss: 1.0003
Epoch 33/100
531/531 [==============================] - 50s 94ms/step - loss: 10.4383 - val_loss: 1.9857
Epoch 34/100
531/531 [==============================] - 50s 94ms/step - loss: 9.9207 - val_loss: 1.3118
Epoch 35/100
531/531 [==============================] - 51s 96ms/step - loss: 9.8933 - val_loss: 1.0634
Epoch 36/100
531/531 [==============================] - 50s 94ms/step - loss: 9.5681 - val_loss: 1.0765
Epoch 37/100
531/531 [==============================] - 50s 94ms/step - loss: 9.2607 - val_loss: 0.8986
Epoch 38/100
531/531 [==============================] - 50s 94ms/step - loss: 9.0557 - val_loss: 1.3462
Epoch 39/100
531/531 [==============================] - 50s 94ms/step - loss: 8.8575 - val_loss: 0.8701
Epoch 40/100
531/531 [==============================] - 50s 94ms/step - loss: 8.5717 - val_loss: 1.0700
Epoch 41/100
531/531 [==============================] - 50s 94ms/step - loss: 7.9923 - val_loss: 1.9497
Epoch 42/100
531/531 [==============================] - 50s 95ms/step - loss: 7.8273 - val_loss: 0.7020
Epoch 43/100
531/531 [==============================] - 50s 94ms/step - loss: 7.5855 - val_loss: 0.8829
Epoch 44/100
531/531 [==============================] - 50s 94ms/step - loss: 7.1533 - val_loss: 0.9381
Epoch 45/100
531/531 [==============================] - 50s 94ms/step - loss: 6.4672 - val_loss: 1.1933
Epoch 46/100
531/531 [==============================] - 50s 94ms/step - loss: 5.6479 - val_loss: 1.1484
Epoch 47/100
531/531 [==============================] - 50s 94ms/step - loss: 5.2059 - val_loss: 2.6757
Epoch 48/100
531/531 [==============================] - 50s 94ms/step - loss: 5.0880 - val_loss: 0.8057
Epoch 49/100
531/531 [==============================] - 50s 94ms/step - loss: 4.7386 - val_loss: 2.1305
Epoch 50/100
531/531 [==============================] - 50s 94ms/step - loss: 4.4489 - val_loss: 1.5060
Epoch 51/100
531/531 [==============================] - 50s 94ms/step - loss: 4.2884 - val_loss: 0.9476
Epoch 52/100
531/531 [==============================] - 50s 94ms/step - loss: 4.1502 - val_loss: 0.8382
Epoch 53/100
531/531 [==============================] - 50s 94ms/step - loss: 3.9467 - val_loss: 2.0986
Epoch 54/100
531/531 [==============================] - 50s 94ms/step - loss: 3.7405 - val_loss: 1.0141
Epoch 55/100
531/531 [==============================] - 50s 94ms/step - loss: 3.6591 - val_loss: 1.0887
Epoch 56/100
531/531 [==============================] - 50s 94ms/step - loss: 3.5136 - val_loss: 0.6277
Epoch 57/100
531/531 [==============================] - 50s 94ms/step - loss: 3.2512 - val_loss: 0.7172
Epoch 58/100
531/531 [==============================] - 50s 94ms/step - loss: 3.1922 - val_loss: 0.8024
Epoch 59/100
531/531 [==============================] - 50s 95ms/step - loss: 3.1310 - val_loss: 0.9737
Epoch 60/100
531/531 [==============================] - 50s 94ms/step - loss: 3.1110 - val_loss: 0.6598
Epoch 61/100
531/531 [==============================] - 50s 94ms/step - loss: 3.0615 - val_loss: 1.4038
Epoch 62/100
531/531 [==============================] - 50s 94ms/step - loss: 2.8503 - val_loss: 0.7942
Epoch 63/100
531/531 [==============================] - 50s 94ms/step - loss: 2.7691 - val_loss: 0.9515
Epoch 64/100
531/531 [==============================] - 50s 94ms/step - loss: 2.7974 - val_loss: 0.6804
Epoch 65/100
531/531 [==============================] - 50s 94ms/step - loss: 2.6537 - val_loss: 0.8403
Epoch 66/100
531/531 [==============================] - 50s 95ms/step - loss: 2.5946 - val_loss: 0.8273
Epoch 67/100
531/531 [==============================] - 50s 95ms/step - loss: 2.4941 - val_loss: 0.6199
Epoch 68/100
531/531 [==============================] - 50s 95ms/step - loss: 2.3773 - val_loss: 0.7013
Epoch 69/100
531/531 [==============================] - 50s 95ms/step - loss: 2.3539 - val_loss: 0.5455
Epoch 70/100
531/531 [==============================] - 50s 95ms/step - loss: 2.2919 - val_loss: 0.6020
Epoch 71/100
531/531 [==============================] - 50s 95ms/step - loss: 2.1547 - val_loss: 0.5368
Epoch 72/100
531/531 [==============================] - 50s 95ms/step - loss: 2.1536 - val_loss: 0.6143
Epoch 73/100
531/531 [==============================] - 50s 95ms/step - loss: 2.0506 - val_loss: 1.0078
Epoch 74/100
531/531 [==============================] - 50s 95ms/step - loss: 2.0563 - val_loss: 0.5653
Epoch 75/100
531/531 [==============================] - 50s 94ms/step - loss: 1.9564 - val_loss: 0.4965
Epoch 76/100
531/531 [==============================] - 50s 94ms/step - loss: 2.0225 - val_loss: 0.5993
Epoch 77/100
531/531 [==============================] - 50s 94ms/step - loss: 1.8970 - val_loss: 0.4894
Epoch 78/100
531/531 [==============================] - 50s 95ms/step - loss: 1.9054 - val_loss: 0.6010
Epoch 79/100
531/531 [==============================] - 50s 95ms/step - loss: 1.8692 - val_loss: 0.6589
Epoch 80/100
531/531 [==============================] - 50s 95ms/step - loss: 1.8287 - val_loss: 0.7160
Epoch 81/100
531/531 [==============================] - 50s 94ms/step - loss: 1.7791 - val_loss: 1.1441
Epoch 82/100
531/531 [==============================] - 51s 96ms/step - loss: 1.7543 - val_loss: 0.9137
Epoch 83/100
531/531 [==============================] - 50s 95ms/step - loss: 1.7901 - val_loss: 0.6539
Epoch 84/100
531/531 [==============================] - 51s 95ms/step - loss: 1.6515 - val_loss: 0.4358
Epoch 85/100
531/531 [==============================] - 50s 95ms/step - loss: 1.6861 - val_loss: 0.3973
Epoch 86/100
531/531 [==============================] - 50s 95ms/step - loss: 1.6480 - val_loss: 0.4967
Epoch 87/100
531/531 [==============================] - 50s 95ms/step - loss: 1.6232 - val_loss: 0.7871
Epoch 88/100
531/531 [==============================] - 50s 95ms/step - loss: 1.6431 - val_loss: 0.4868
Epoch 89/100
531/531 [==============================] - 50s 94ms/step - loss: 1.5906 - val_loss: 0.9773
Epoch 90/100
531/531 [==============================] - 50s 95ms/step - loss: 1.5512 - val_loss: 0.5339
Epoch 91/100
531/531 [==============================] - 50s 95ms/step - loss: 1.5307 - val_loss: 0.4172
Epoch 92/100
531/531 [==============================] - 50s 95ms/step - loss: 1.5462 - val_loss: 0.5792
Epoch 93/100
531/531 [==============================] - 50s 95ms/step - loss: 1.4900 - val_loss: 0.3751
Epoch 94/100
531/531 [==============================] - 51s 95ms/step - loss: 1.5018 - val_loss: 0.4125
Epoch 95/100
531/531 [==============================] - 51s 95ms/step - loss: 1.4598 - val_loss: 0.5279
Epoch 96/100
531/531 [==============================] - 50s 95ms/step - loss: 1.4074 - val_loss: 0.3511
Epoch 97/100
531/531 [==============================] - 51s 97ms/step - loss: 1.3955 - val_loss: 0.4240
Epoch 98/100
531/531 [==============================] - 50s 95ms/step - loss: 1.4554 - val_loss: 0.6255
Epoch 99/100
531/531 [==============================] - 51s 96ms/step - loss: 1.3486 - val_loss: 0.4611
Epoch 100/100
531/531 [==============================] - 51s 96ms/step - loss: 1.3578 - val_loss: 0.6886
145/145 [==============================] - 3s 18ms/step - loss: 3.6121

3.6120543479919434

In [ ]:
acc = history.history['accuracy']
val_acc = history.history['val_accuracy']

loss = history.history['loss']
val_loss = history.history['val_loss']

epochs_range = range(epochs)

plt.figure(figsize=(8, 8))
plt.subplot(1, 2, 1)
plt.plot(epochs_range, acc, label='Training Accuracy')
plt.plot(epochs_range, val_acc, label='Validation Accuracy')
plt.legend(loc='lower right')
plt.title('Training and Validation Accuracy')

plt.subplot(1, 2, 2)
plt.plot(epochs_range, loss, label='Training Loss')
plt.plot(epochs_range, val_loss, label='Validation Loss')
plt.legend(loc='upper right')
plt.title('Training and Validation Loss')
plt.show()
plt.savefig('graficas.png')

KeyError: ignored

In [ ]:
model.save("test7_transformer.h5")